<!DOCTYPE html>
<html lang="hu"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>MyWishListApp</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/login.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
				<form class="box" name="login" th:action="@{/login}" method="post">
					<h1>MyWishListApp</h1>
					<div id="err" th:if="${param.error}" class="alert alert-danger" style="text-align:center;">Hibás felhasználónév és/vagy jelszó</div>
					<div>
						<input type="text" id="username" name="username" placeholder="Felhasználónév">
					</div>
					<div>
						<span class="btn-show-pass"><i class="zmdi zmdi-eye"></i></span>
						<input type="password" id="password" name="password" placeholder="Jelszó">
					</div>
					<div class="container-form-btn">
						<div class="box-form-btn">
							<input type="submit" value="Bejelentkezés">
						</div>
						Nem vagy még tag? <a href="/auth/signup">Itt regisztrálhatsz!</a>
					</div>
				</form>
			</div>
        </div>
    </div>
</div>	
	<script src="../js/jquery-3.5.1.min.js"></script>
	<script src="../js/popper.min.js"></script>
	<script src="../js/bootstrap/bootstrap.min.js"></script>
</body>
</html>