<!DOCTYPE html>
<html lang="hu"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>WishList</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type='text/css' href="/css/bootstrap.min.css" />
</head>
<body>
<header style="font-size:25px; color:#E3F2FD;">
	<span style="font-size:25px; color:#E3F2FD;">Bejelentkezés</span>
</header>
	<div class="limiter">
		<div class="container-login100" style="padding-top:0px;">
			<div class="wrap-login100">
				<form class="login100-form validate-form" name="login" th:action="@{/login}" method="post">
					<span class="login100-form-title p-b-26">
						WishList
					</span>
					<div id="err" th:if="${param.error}" class="alert alert-danger" style="text-align:center;">Hibás felhasználónév és/vagy jelszó</div>
					<div th:if="${param.logout}" class="alert alert-success" style="text-align:center;">Sikeresen kijelentkeztél</div>
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" id="username" name="username">
						<span class="focus-input100" data-placeholder="Felhasználónév"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" id="password" name="password">
						<span class="focus-input100" data-placeholder="Jelszó"></span>
					</div>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
								Bejelentkezés
							</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	
	<script src="/js/jquery-3.5.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>