<!DOCTYPE html>
<html lang="hu"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>MyWishListApp</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/login.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
            	<form class="box" name="signup" th:action="@{/reg}" th:object="${user}" method="post">
            		<div>
            			<span>Név:</span>
						<input type="text" id="name" name="name" th:field="*{name}" placeholder="Név" required>
					</div>
            		<div>
            			<span>Felhasználónév:</span>
						<input type="text" id="username" name="username" th:field="*{user_username}" placeholder="Felhasználónév" required>
					</div>
					<div>
						<span>E-mail cím:</span>
						<input type="text" id="email" name="email" th:field="*{email}" placeholder="E-mail cím" required>
					</div>
					<div>
						<span>Jelszó:</span>
						<input type="password" id="pass" name="password" th:field="*{pass}" placeholder="Jelszó" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
						<span class="btn-show-pass"><i class="zmdi zmdi-eye"></i></span>
						<div id="message" style="display: none;">
							<p id="letter" style="color:red;">Tartalmaz kis betűt</p><br />
							<p id="capital" style="color:red;">Tartalmaz nagy betűt</p><br />
							<p id="number" style="color:red;">Tartalmaz számot</p><br />
							<p id="length" style="color:red;">Minimum 8 karakter</p><br />
						</div>
					</div>
					<div class="container-form-btn">
						<div class="box-form-btn">
							<input type="submit" value="Regisztráció">
							<input type="button" onclick="location.href='/';" value="Vissza" />
						</div>
					</div>
            	</form>
			</div>
        </div>
    </div>
</div>
	<script src="../js/jquery-3.5.1.min.js"></script>
	<script src="../js/popper.min.js"></script>
	<script src="../js/passwordCheck.js"></script>
	<script src="../js/iconify.js"></script>
	<script src="../js/bootstrap/bootstrap.min.js"></script>
</body>
</html>