<!DOCTYPE html>
<html lang="hu"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>MyWishListApp</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type='text/css' href="../css/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" type='text/css' href="../css/fontawesome.all.css" />
	<link rel="stylesheet" type='text/css' href="../css/login.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
            	<form class="box" name="signup" th:action="@{/reg}" th:object="${user}" method="post">
            		<div>
            			<span>Név:</span>
						<input type="text" id="name" name="name" th:field="*{name}" placeholder="Név">
					</div>
            		<div>
            			<span>Felhasználónév:</span>
						<input type="text" id="username" name="username" th:field="*{user_username}" placeholder="Felhasználónév">
					</div>
					<div>
						<span>E-mail cím:</span>
						<input type="text" id="email" name="email" th:field="*{email}" placeholder="E-mail cím">
					</div>
					<div>
						<span>Jelszó:</span>
						<span class="btn-show-pass"><i class="zmdi zmdi-eye"></i></span>
						<input type="password" id="password" name="password" th:field="*{pass}" placeholder="Jelszó">
					</div>
					<div class="container-form-btn">
						<div class="box-form-btn">
							<input type="submit" value="Regisztráció">
						</div>
					</div>
            	</form>
			</div>
        </div>
    </div>
</div>	
	<script src="../js/jquery-3.5.1.min.js"></script>
	<script src="../js/popper.min.js"></script>
	<script src="../js/bootstrap/bootstrap.min.js"></script>
</body>
</html>