body {
    margin: 0;
    padding: 0;
    font-family: Eras ITC;
    background: linear-gradient(to right, #e6e6ff, #80dfff);
}

p{
	margin: 0px;
    padding: 0px;
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    transition: 0.25s;
    margin-top: 50px
}

.box span{
	color: #000066;
    font-family: Eras ITC;
    font-weight: 250;
    font-size: 20px;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0000e6;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: #000066;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: #000066;
    font-family: Eras ITC;
    font-weight: 100;
    font-size: 50px;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #66c2ff
}

.box input[type="submit"],
.box input[type="button"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #66c2ff;
    padding: 14px 40px;
    outline: none;
    color: #000066;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover,
.box input[type="button"]:hover {
    background: #66c2ff;
}

.forgot {
    text-decoration: underline;
}